@import '../../styles/variables';

.container-button {
  padding: 10px 24px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 1px 3px 10px rgba($--tw-primary-red, .4);
  
  &:hover {
    opacity: .9;
  }

  &.button-primary {
    background: $--tw-primary-red;
    color: #fff;
  }

  &.button-secondary {
    background: #fff;
    color: $--tw-primary-red;
  }
}