.container-aboutUs {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  .introduction-aboutUs {
    width: 80%;
    min-width: 325px;
    flex: 1;

    .title-md {
      margin-bottom: 20px;
    }
  }
  
  .container-categories {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
  }
}

@media (max-width: 444px) {
  .container-aboutUs {
    text-align: center;
    justify-items: center;
  }
}