.container-depositions {
  text-align: center;
  margin: 100px 0;
  overflow-x: hidden;
}

@media (max-width: 375px) {
  .container-depositions {
    margin: 60px 0;

    button {
      margin-top: 30px;
    }
  }
}