@import '../../styles/variables';

.container-call-action {
  width: 100vw;
  background: $--tw-primary-red url(../../Assets/svg/bg-simplify-section-desktop.svg) no-repeat right -165% bottom 0%;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  
  .content-call-action {
    width: 90vw;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .title-lg {
    color: white;
    min-width: 285px;
    width: 50%;
    z-index: 2;
  }
}

@media (max-width: 471px) {
  .container-call-action {
    background: $--tw-primary-red url(../../Assets/svg/bg-simplify-section-mobile.svg) no-repeat left 0 bottom -10px;
    background-size: 80px;
    
    .content-call-action {
      justify-content: center;
      text-align: center;
    }
  }
}

