$--tw-primary-red: hsl(12, 88%, 59%);
$--tw-primary-dark: hsl(228, 39%, 23%);

$--tw-neutral-blue: hsl(227, 12%, 61%);
$--tw-neutral-dark-blue: hsl(233, 12%, 13%);
$--tw-neutral-red: hsl(13, 100%, 96%);
$--tw-neutral-gray: hsl(0, 0%, 98%);