@import './variables';

.title-lg {
  font-size: 56px;
  font-weight: 700;
}

.title-md {
  font-size: 42px;
  font-weight: 700;
}

.title-sm {
  font-weight: 700;
  font-size: 18px;
}

.body-lg {
  color: $--tw-neutral-blue;
  font-weight: 400;
  font-size: 18px;
}

.body-md {
  color: $--tw-neutral-blue;
  font-weight: 400;
  font-size: 16px;
}

.subtitle {
  color: $--tw-neutral-blue;
  font-size: 12px;
}

@media (max-width: 1024px) {
  .title-lg {
    font-size: 40px;
  }

  .title-md {
    font-size: 32px;
  }  

  .body-lg {
    font-size: 16px;
  }

  .body-md {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .title-lg {
    font-size: 32px;
  }

  .title-md {
    font-size: 24px;
  }  

  .body-lg {
    font-size: 14px;
  }

  .body-md {
    font-size: 12px;
  }
}