@import '../../Styles/variables';

.container-header { 
  .content-header {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
  }
}

.illustration {
  position: absolute;
  z-index: -1;
  min-width: 350px;
  width: 40vw;
  min-height: 280px;
  height: 45vh;
  background: $--tw-neutral-red;
  transform: rotate(-40deg);
  
  &::after {
    background: $--tw-neutral-red;
    width: 50%;
    height: 100%;
    left: -25%;
    content: '';
    display: block;
    z-index: -1;
    position: relative;
    border-radius: 50%;
  }
  &.top-illustration {
    right: -100px;
    top: 0;
  }
}

@media (max-width: 768px) {
  .container-header {
    button {
      display: none;
    }
  }
}
