@import '../../styles/variables';

.container-header {   
  .content-header {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
  }
}

@media (max-width: 768px) {
  .container-header {
    button {
      display: none;
    }
  }
}
