@import '../../styles/variables';

.container-footer {
  background: $--tw-neutral-dark-blue;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-gap: 45px;
  padding: 30px 20px;

  .container-input {
    width: 300px;
    text-align: center;
      
    div {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    input {
      width: 70%;
      padding: 10px 16px;
      border-radius: 20px;

      &:focus {
        outline: 1px solid $--tw-primary-red;
      }

      &::placeholder {
        font-size: 12px;
      }
    }

    button {
      padding: 0 25px;
      border-radius: 20px;
      font-size: 10px;
    }
  }
  
  .container-links {
    width: 30%;
    min-width: 230px;
    display: flex;
    justify-content: space-between;

    .link + .link {
      margin-top: 15px;
    }
  }

  .container-icons {
    min-width: 230px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    svg {
      transform: scale(1.3);
    }
  }
}

.container-logo {  
  > svg {
    margin: 0 auto;
  }
}

.collumn {
  display: flex;
  flex-direction: column;
}

.link {
  color: $--tw-neutral-gray;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;

  &:hover {
    opacity: .7;
  }
}

.copy-one {
  display: none;
}

@media (min-width: 985px) {
  .container-footer {
    padding: 50px 80px;
  }
  .container-logo {
    order: 1;
    
    > svg {
      margin-right: auto !important ;
    }
  }
  .container-links {
    order: 2;
  }
  .container-input {
    order: 3;
  }
  .copy-one {
    display: block;
    margin-top: 50px;
  }
  .copy-two {
    display: none;
  }
}