@import '../../styles/variables';

.swiper {
  overflow: visible;
  margin: 100px 0 40px 0;
} 

.swiper-pagination-bullet {
  border: 1px solid $--tw-primary-red;
  background: transparent;
  opacity: 1;

  &.swiper-pagination-bullet-active {
    background: $--tw-primary-red;
  }
}